# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.lock.json
*.xproj.user
*.vs
sample/Mvc/node_modules/*
src/Identity.Couchbase/node_modules/*
src/IdentityServer4.Couchbase/node_modules/*
sample/IdSvrHost/Logs/Log-20160419
src/Couchbase.Extensions.Serialization/bin/*
src/Couchbase.Extensions.Serialization/bin/*
src/Identity.Couchbase/bin/*
src/IdentityServer4.Couchbase/bin/*
src/IdSvrHost/bin/*
src/Mvc/bin/*
src/Couchbase.Extensions.Serialization/node_modules/*
src/Couchbase.Extensions.Serialization/bin/*
src/Couchbase.Extensions.Serialization/bin/*
src/Couchbase.Extensions.Serialization/bin/*
src/Couchbase.Extensions.Serialization/bin/*
src/Couchbase.Extensions.Serialization/bin/*
src/Couchbase.Extensions.Serialization/bin/*
src/IdentityServer4.Couchbase/obj/*
src/IdSvrHost/bin/*
src/IdSvrHost/obj/*
src/Mvc/bin/*
src/Mvc/obj/*
src/Couchbase.Extensions.Serialization/obj/*
